#target, .control-content {
    max-width:1200px;
    margin: 0 auto;
}

.grid-tracklist {
    font-size:10px;
}
.control-bar {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgb(216, 216, 216);
    opacity:.8;
    z-index:20;
}

.the-rest {
    margin-top:100px;
}
.genre-selector {
    margin-bottom:25px;
}
.codec {
    color: grey;
    padding: 0 10px 0 10px;
    font-size: 8px;
    font-weight: 800;
    background: #f3ecec;
    border-radius: 3px;
    margin-left: 5px;
}

.track-title {
    font-size: 12px;
    text-transform: none;
    line-height: 12px;
}
