#target, .control-content {
    width:100%;
    max-width:100%;
    margin: 0 auto;
}
.player-bar {
    margin-top: 10px;
    margin-bottom: 10px;
    width:98%;
    margin-left:1%;
    display: inline-block;
}
.player-controls {
    display:inline-block;
    width:auto;
}
.grid-tracklist {
    font-size:10px;
    display:inline-block;
    z-index:100;
    margin:2em 2em 2em 2em;
}
.main-album-grid {
    margin: 0 auto;
    width:95%;
}
.album-title-text {
    position:relative;
    height:0px;
    top:20px;
}
.album-background-image {
    width:100%;
    height:570px;
}
.album-background-image-wrapper {
    height:0px;
}
/* Album Grid view images and containers */

.album {
    overflow:hidden;
}
.album-image {
    width: 100%;
    max-width:100%;
    height: auto;   
    box-shadow: 10px 10px 15px #a5a0a0;
}
.loading-message {
    width: 300px;
    margin: auto auto;
    margin-top:200px;
    text-align:center;

}
.search-bar {
    display: inline-block;
}
.loading-text {
    margin-top:20px;
    font-size:1.5em;

}
.album-cover {
    overflow:hidden;
}
.view-and-genre-selector {
    width: 98%;
    margin: 0 auto;
}
.control-bar {
    position:fixed;
    z-index:100;
    top:0;
    width:100%;
    background-color:white;
    border-bottom: solid;
    border-width:.5px;
    border-color: #a5a0a0;
}
.now-playing {
    width:90%;
    margin: 0 auto;
}
.MuiDrawer-paperAnchorDockedTop {
    margin-top:90px;
}
.spacer {
    height:120px;
    display:block;
    width:100%;
}
.genre-selector {
    margin-bottom:15px;
    font-size:40px !important;
}
button.genre-choice, button.search-button {
    text-transform: none;
    border:solid;   
    border-color: rgb(179, 177, 177);
    border-width:1px;
    margin-left:1em;
    margin: 5px 5px 5px 0px;
    padding: 2px 12px;
}
.search-clear {
    background-color: #dcdcdc;
    border-radius: 5px;
}
.view-and-search-selector hr {
    margin-top:.4rem;
    margin-bottom:.4rem;
}
.codec {
    color: grey;
    padding: 0 10px 0 10px;
    font-size: 8px;
    font-weight: 800;
    background: #f3ecec;
    border-radius: 3px;
    margin-left: 5px;
    display:inline-block
}
.now-playing-album-title{
    font-weight: bold;
}
.MuiButton-root {
    min-width:40px !important;
}
.MuiButton-root.player-control-button {
    margin-bottom:20px;
}
.track-title {
    font-size: 14px;
    text-transform: none;
    line-height: 14px;
}

/* Fixes an issue with flipcard not hiding properly in Safari */
[class*="FlipCard-module_Front"], 
[class*="FlipCard-module_Back"] {
    -webkit-backface-visibility:hidden;
}

.slider-volume {
    display:inline-block;
    min-width: 150px;
    width:30%;
    margin-left:20px;
}


.now-playing {
    display:block;

}

.now-playing > img {
    max-width:150px;
    float:right;
    margin-right:20px;
    margin-bottom:10px;

}
.now-playing-meta {
    display:inline-block;
    max-width:65%;
}
.now-playing-album-cover {
    width:200px;
    display:inline-block;
    float:right;
    transition: 0.2s;
    position:relative;
    bottom: 70px;
}
.track-info {
    display:inline-block;
    width:80%;
}
.tracklist-album {
    width:100px;
    display:inline-block;
    float:right;
    transition: 0.2s;
}
.list-track {
    height:100px;
    border-style:solid;
    border-color:rgb(177, 174, 174);
    margin-top: 10px;
    padding:10px;
    border-radius:10px;
    border-width:2px;
    height:auto;

}
.track-list-dialog{
    z-index:100;
}

.btn-icon {
    height:30px;
}
.player-selector {
    display:inline-block;
    vertical-align: top;
}

.flip-container {
    width:100%;
    height:auto;
}

.MuiButton-text.drawer-button {
    position:fixed;
    top:30px;
    right:30px;
    z-index:100;
    background: white;
    opacity: .4;
    border: solid;
    border-width: 1px;
}
@media only screen and (max-width:500px) {
    
        .player-bar {
            margin-bottom:0px;
        }
        .main-album-grid {
            width:98%;
        }
        .btn-icon {
            height:20px;
        }
       .genre-selector {
           font-size:50px !important;
       }
       .slider-volume .MuiSlider-root {
            padding-top:5px;
            padding-bottom:5px;
       }
       .player-selector .MuiOutlinedInput-input {
            padding-top:10px;
            padding-bottom:10px;
       }

       .MuiButton-root.player-control-button {
            margin-bottom:0px;
        }
       .now-playing {
           font-size:12px;
           margin-top:1em;
           width:98%;
           margin: 0 auto;
       }
       .now-playing-album-cover {
           width:100px;
       }
       .now-playing > img {
            max-width:25%;
            float:right;
            margin-right:4px;
         }
         .slider-volume {
             width:60%;
         }
         .loading-text {

            font-size:5em;
         }
        .tracklist-album {
            width:80px;
        }
        .track-info {
            width: 70%;
        }
    
}
